.container{
    background-color: darkblue;
    position: fixed;
    left:0;
    bottom : 0;
}
.bar{
    background-color: rgb(163, 241, 225);
    display: inline-block;
    box-shadow:0px 0px 0px 1px  rgb(65, 82, 78) inset;
    
}